In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [83]:
df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\dataset_Facebook.csv",delimiter=';')

In [84]:
df['like'].fillna(0,inplace=True)
df['share'].fillna(0,inplace=True)
df['Paid'].fillna(0,inplace=True)

In [85]:
dayDf = pd.get_dummies(df['Post Weekday'])
df = pd.concat([df,dayDf],axis=1)





hourDf = pd.get_dummies(df['Post Hour'],prefix='hr_')
df = pd.concat([df,hourDf],axis=1)


monthDf = pd.get_dummies(df['Post Month'],prefix='Mo')
df = pd.concat([df,monthDf],axis=1)


df['Cat_1'] = pd.get_dummies(df['Category'])[1]
df['Cat_2'] = pd.get_dummies(df['Category'])[2]


df['Video'] = pd.get_dummies(df['Type'])['Video']
df['Status'] = pd.get_dummies(df['Type'])['Status']
df['Photo'] = pd.get_dummies(df['Type'])['Photo']

In [86]:
df=df.drop(['Type','Category','Post Month','Post Weekday','Post Hour'],axis=1)

In [87]:
df.head()

,Page total likes,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,...,Mo_8,Mo_9,Mo_10,Mo_11,Mo_12,Cat_1,Cat_2,Video,Status,Photo
0,139441,0.0,2752,5091,178,109,159,3078,1640,119,...,0,0,0,0,1,0,1,0,0,1
1,139441,0.0,10460,19057,1457,1361,1674,11710,6112,1108,...,0,0,0,0,1,0,1,0,1,0
2,139441,0.0,2413,4373,177,113,154,2812,1503,132,...,0,0,0,0,1,0,0,0,0,1
3,139441,1.0,50128,87991,2211,790,1119,61027,32048,1386,...,0,0,0,0,1,0,1,0,0,1
4,139441,0.0,7244,13594,671,410,580,6228,3200,396,...,0,0,0,0,1,0,1,0,0,1

In [71]:
df.columns

Index([                                                   'Page total likes',
                                                                      'Paid',
                                                 'Lifetime Post Total Reach',
                                           'Lifetime Post Total Impressions',
                                                    'Lifetime Engaged Users',
                                                   'Lifetime Post Consumers',
                                                'Lifetime Post Consumptions',
              'Lifetime Post Impressions by people who have liked your Page',
                          'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
                                                                   'comment',
                                                                      'like',
                                                                     'share',
                                                        'Total Interactions',
                                                                           1,
                                                                           2,
                                                                           3,
                                                                           4,
                                                                           5,
                                                                           6,
                                                                           7,
                                                                     'hr__1',
                                                                     'hr__2',
                                                                     'hr__3',
                                                                     'hr__4',
                                                                     'hr__5',
                                                                     'hr__6',
                                                                     'hr__7',
                                                                     'hr__8',
                                                                     'hr__9',
                                                                    'hr__10',
                                                                    'hr__11',
                                                                    'hr__12',
                                                                    'hr__13',
                                                                    'hr__14',
                                                                    'hr__15',
                                                                    'hr__16',
                                                                    'hr__17',
                                                                    'hr__18',
                                                                    'hr__19',
                                                                    'hr__20',
                                                                    'hr__22',
                                                                    'hr__23',
                                                                      'Mo_1',
                                                                      'Mo_2',
                                                                      'Mo_3',
                                                                      'Mo_4',
                                                                      'Mo_5',
                                                                      'Mo_6',
                                                                      'Mo_7',
                                                                      'Mo_8',
                                                                      'Mo_9',
                                                                     'Mo_10',
                                                                     'Mo_11',
                                                                     'Mo_12',
                                                                     'Cat_1',
                                                                     'Cat_2',
                                                                     'Video',
                                                                    'Status',
                                                                     'Photo'],
      dtype='object')

In [72]:
from sklearn import preprocessing
scaler =preprocessing. MinMaxScaler(feature_range=(0,1))
df['scaled_Page total likes'] = scaler.fit_transform(df['Page total likes'])

ValueError: Expected 2D array, got 1D array instead:
array=[139441. 139441. 139441. 139441. 139441. 139441. 139441. 139441. 139441.
 139441. 139441. 139441. 139441. 139441. 138414. 138414. 138414. 138414.
 138414. 138414. 138414. 138414. 138414. 138414. 138414. 138458. 138458.
 138458. 138895. 138895. 138895. 138895. 138895. 138895. 138895. 138895.
 138895. 138895. 138895. 138895. 138895. 138895. 138353. 138353. 138353.
 138353. 138353. 138353. 138353. 138353. 138353. 138329. 138329. 138329.
 138329. 138329. 138329. 138329. 138329. 138329. 138185. 138185. 138185.
 138185. 138185. 138185. 138185. 138185. 138185. 137893. 137893. 137893.
 137893. 137893. 137893. 137893. 137893. 137177. 137177. 137177. 137177.
 137177. 137177. 137177. 137177. 137177. 137177. 137177. 137177. 137059.
 137059. 137059. 137059. 137059. 137059. 137059. 137059. 137059. 137020.
 137020. 137020. 137020. 137020. 137020. 137020. 137020. 137020. 136736.
 136736. 136736. 136736. 136736. 136736. 136642. 136642. 136642. 136642.
 136642. 136642. 136393. 136393. 136393. 136393. 136393. 136393. 136393.
 136393. 136393. 136393. 136393. 136393. 136393. 136393. 136393. 136393.
 136393. 136393. 136013. 136013. 136013. 136013. 136013. 136013. 136013.
 136013. 136013. 136013. 135713. 135713. 135713. 135713. 135713. 135713.
 135713. 135713. 135700. 135700. 135700. 135700. 135617. 135617. 135617.
 135617. 135617. 135428. 135428. 135428. 135428. 135428. 135428. 135195.
 135195. 135195. 135195. 135195. 135195. 135195. 135195. 135195. 135195.
 134879. 134879. 134879. 134879. 134879. 134879. 134879. 134879. 134879.
 133679. 133679. 133679. 133679. 133594. 133594. 133594. 133594. 133594.
 133451. 132817. 132817. 132817. 132817. 132817. 132817. 132201. 132201.
 132201. 132201. 132201. 132201. 132201. 132201. 132201. 132201. 131956.
 131956. 131956. 131956. 131956. 131956. 131956. 131808. 131808. 131808.
 131808. 131728. 131728. 131728. 131630. 131630. 131630. 131630. 131630.
 131630. 131300. 131300. 131300. 131300. 130791. 130791. 130791. 130791.
 130791. 130791. 130791. 130791. 129600. 129600. 129600. 129600. 129600.
 129600. 129600. 129600. 129600. 129600. 129600. 129600. 129600. 129600.
 129600. 128032. 128032. 128032. 128032. 128032. 128032. 128032. 128032.
 128032. 128032. 127082. 126424. 126424. 126424. 126424. 126424. 126345.
 126345. 126345. 126345. 126345. 126141. 126141. 126141. 126141. 126141.
 126141. 125612. 125612. 125612. 125612. 125612. 125612. 125612. 125612.
 125612. 125612. 124940. 124940. 124940. 124940. 124940. 124940. 124940.
 124940. 124940. 124940. 124940. 124940. 124940. 124940. 124940. 124940.
 124940. 123047. 123047. 123047. 123047. 123047. 123047. 123047. 123047.
 123047. 121540. 121540. 120050. 120050. 120050. 120050. 119198. 119198.
 119198. 119198. 119198. 119198. 119198. 119198. 117764. 117764. 117764.
 117764. 117764. 117764. 117764. 117764. 117764. 117764. 117764. 116435.
 116435. 116435. 116435. 116435. 116435. 116435. 116091. 116091. 116091.
 116091. 116091. 116091. 115893. 115893. 115368. 115368. 115368. 115368.
 113028. 113028. 113028. 113028. 113028. 113028. 111620. 111620. 111620.
 111620. 111620. 111620. 109670. 109670. 109670. 109670. 109670. 109670.
 109670. 109670. 109670. 109670. 109670. 109670. 109670. 107907. 107907.
 107907. 107907. 107907. 107907. 107907. 107907. 107907. 107907. 107907.
 107907. 107907. 106928. 106928. 106928. 106928. 106928. 106928. 104070.
 104070. 104070. 104070. 104070. 102112. 102112. 102112. 102112. 102112.
 102112. 102112. 102112. 100732. 100732. 100732. 100732. 100732. 100732.
 100732. 100732. 100732. 100732. 100732. 100732.  98195.  98195.  98195.
  98195.  98195.  96749.  96749.  96749.  96749.  96749.  96749.  93684.
  93577.  93470.  93363.  93256.  93149.  93042.  92935.  92828.  92721.
  92614.  92507.  92400.  92293.  92186.  92079.  91972.  91865.  91758.
  91651.  91544.  91437.  91330.  91223.  91116.  91009.  86909.  86909.
  86909.  86909.  86909.  86909.  86491.  86491.  86491.  86491.  86491.
  85979.  85979.  85979.  85979.  85979.  85979.  85979.  85093.  85093.
  85093.  81370.  81370.  81370.  81370.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [49]:
df.columns =[ 'Page total likes',
                                                                     
                                                                      'Paid',
                                                 'Lifetime Post Total Reach',
                                           'Lifetime Post Total Impressions',
                                                    'Lifetime Engaged Users',
                                                   'Lifetime Post Consumers',
                                                'Lifetime Post Consumptions',
              'Lifetime Post Impressions by people who have liked your Page',
                          'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
                                                                   'comment',
                                                                      'like',
                                                                     'share',
                                                        'Total Interactions',
                                                                           1,
                                                                           2,
                                                                           3,
                                                                           4,
                                                                           5,
                                                                           6,
                                                                           7,
                                                                     'hr__1',
                                                                     'hr__2',
                                                                     'hr__3',
                                                                     'hr__4',
                                                                     'hr__5',
                                                                     'hr__6',
                                                                     'hr__7',
                                                                     'hr__8',
                                                                     'hr__9',
                                                                    'hr__10',
                                                                    'hr__11',
                                                                    'hr__12',
                                                                    'hr__13',
                                                                    'hr__14',
                                                                    'hr__15',
                                                                    'hr__16',
                                                                    'hr__17',
                                                                    'hr__18',
                                                                    'hr__19',
                                                                    'hr__20',
                                                                    'hr__22',
                                                                    'hr__23',
                                                                      'Mo_1',
                                                                      'Mo_2',
                                                                      'Mo_3',
                                                                      'Mo_4',
                                                                      'Mo_5',
                                                                      'Mo_6',
                                                                      'Mo_7',
                                                                      'Mo_8',
                                                                      'Mo_9',
                                                                     'Mo_10',
                                                                     'Mo_11',
                                                                     'Mo_12',
                                                                     'Cat_1',
                                                                     'Cat_2',
                                                                     'Video',
                                                                    'Status',
                                                                     'Photo']

In [50]:
df.head(10)

,Page total likes,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,...,Mo_8,Mo_9,Mo_10,Mo_11,Mo_12,Cat_1,Cat_2,Video,Status,Photo
0,1.0,0.0,0.013948,0.004074,0.014769,0.008835,0.007587,0.002268,0.027411,0.025189,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
1,1.0,0.0,0.056713,0.016659,0.126540,0.119445,0.084219,0.010064,0.114721,0.251660,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.012067,0.003427,0.014681,0.009188,0.007334,0.002028,0.024736,0.028166,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,1.0,1.0,0.276795,0.078778,0.192432,0.068999,0.056146,0.054603,0.621086,0.315319,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,1.0,0.0,0.038870,0.011736,0.057852,0.035427,0.028882,0.005113,0.057868,0.088619,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
5,1.0,0.0,0.056779,0.018274,0.103295,0.094001,0.069803,0.013969,0.148692,0.230593,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
6,1.0,1.0,0.063548,0.017040,0.041248,0.022617,0.017956,0.013425,0.177509,0.084726,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7,1.0,1.0,0.074799,0.021237,0.046142,0.019701,0.014972,0.017305,0.211246,0.094573,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
8,1.0,0.0,0.064391,0.019796,0.132920,0.123509,0.085129,0.013233,0.149863,0.284177,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
9,1.0,0.0,0.024722,0.007297,0.023683,0.015372,0.012190,0.003379,0.040765,0.043508,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [89]:
x = df[[  'Page total likes',
 'Status',
 'Photo',
 'Total Interactions',
 'Cat_1',
 'Cat_2',
 3,
 7,
 'hr__17',
 'hr__1',
 'hr__2',
 'hr__3',
 'hr__6',
 'hr__10',
 'hr__13',
 'Mo_2',
 'Mo_12',
 'Mo_5',
 'Mo_8',
 'Mo_10']]
                                                                
y = df['Lifetime Engaged Users']

In [101]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train, y_test = train_test_split(x,
                                                  y, test_size=0.1,
                                                  random_state=50)

In [102]:
from sklearn import linear_model
reg = linear_model.LinearRegression(normalize=True)
lasso = linear_model.Lasso(normalize=True)
reg.fit(x_train,y_train)
lasso.fit(x_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=True, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [103]:

lasso.coef_

array([-1.05174776e-02,  1.32570481e+03,  0.00000000e+00,  1.45570441e+00,
        1.73632290e+02,  0.00000000e+00,  3.57601813e+01,  0.00000000e+00,
       -0.00000000e+00,  0.00000000e+00,  1.72982024e+02, -0.00000000e+00,
       -0.00000000e+00,  0.00000000e+00,  3.10814649e+01,  2.30614333e+02,
       -0.00000000e+00, -7.67399108e+01, -0.00000000e+00,  0.00000000e+00])

In [104]:

lassV = pd.DataFrame()
lassV['Variable'] = list(x_train.columns)
lassV['Importance'] = lasso.coef_
lassoVars = lassV[lassV['Importance'] > 0]
lassoVars = list(lassoVars['Variable'])

In [105]:
def RegScorePlot(model,x_train= None,y_train=None, x_test=None,y_test=None,saveFig=False): 
    from sklearn.metrics import r2_score
    from scipy.stats import spearmanr, pearsonr
    
    # getting predictions from test and train and scoring them
    predicted_test = model.predict(x_test)
    test_score = r2_score(y_test, predicted_test)
    spearmanTest = spearmanr(y_test, predicted_test)
    pearsonTest = pearsonr(y_test, predicted_test)
    
    # getting training scoring
    predicted_train = model.predict(x_train)
    train_score = r2_score(y_train, predicted_train)
    spearmanTrain = spearmanr(y_train, predicted_train)
    pearsonTrain = pearsonr(y_train, predicted_train)
    
    # printing results 
    print('Train data R-2 score: {}'.format(train_score))

    print(' ')
    print('Test data R-2 score: {}'.format(test_score))

In [106]:
lassoPerf = RegScorePlot(lasso,x_test=x_test,x_train=x_train,y_test=y_test,y_train=y_train)

Train data R-2 score: 0.5118373168507997

Test data R-2 score: 0.5868178973175794

In [81]:
lassoPerf

In [107]:
regPerf = RegScorePlot(reg,x_test=x_test,x_train=x_train,y_test=y_test,y_train=y_train)

Train data R-2 score: 0.5182565223903831

Test data R-2 score: 0.5857430261299376

In [108]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor

In [110]:
x = df[['Page total likes',
 'Status',
 'Photo',
 'Total Interactions',
 'Cat_1',
 'Cat_2',
 3 ,
 7,
 'hr__17',
 'hr__1',
 'hr__2',
 'hr__3',
 'hr__6',
 'hr__10',
 'hr__13',
 'Mo_2',
 'Mo_12',
 'Mo_5',
 'Mo_8',
 'Mo_10']]

y = df['Lifetime Engaged Users']

In [111]:
x_train,x_test,y_train, y_test = train_test_split(x,
                                                  y, test_size=0.3,
                                                  random_state=50)

In [112]:
rf = RandomForestRegressor(n_estimators=500,min_samples_split=15)
rf.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=15,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [113]:
RfPerf = RegScorePlot(rf,x_test=x_test,x_train=x_train,y_test=y_test,y_train=y_train)

Train data R-2 score: 0.7684545512958638

Test data R-2 score: 0.3558667419257918

In [115]:
predicted_test = rf.predict(x_test)

fI = pd.DataFrame()
fI['Variable'] = list(x_train.columns)
fI['Importance'] = rf.feature_importances_
fI.sort_values(by='Importance',ascending=False)[0:15]

              Variable  Importance
3   Total Interactions    0.673835
0     Page total likes    0.126888
1               Status    0.087978
2                Photo    0.053638
4                Cat_1    0.015791
6                    3    0.013827
15                Mo_2    0.009813
19               Mo_10    0.005111
7                    7    0.003178
14              hr__13    0.003043
13              hr__10    0.002405
11               hr__3    0.001297
12               hr__6    0.000989
10               hr__2    0.000875
17                Mo_5    0.000461

In [116]:

topVars= list(fI.sort_values(by='Importance',ascending=False)[0:4]['Variable'])
topVars

['Total Interactions', 'Page total likes', 'Status', 'Photo']